.box__todolist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.todolist {
  display: flex;
  padding: 0px 20px 0px 20px;
  height: 100px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.101);
  border-radius: 10px;
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-size: large;
  justify-content: center;
  align-items: center;
  background-color: #c9c9c9;
;
}
.Dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  margin-top: 2em;
}
Button{
  display: flex;
  padding: 1em;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(100, 76, 235);
}
.ajouter{
  z-index: 5;
}

.Ajout_box{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-items: center;
  justify-content: center;

}
.apparition{
  position: relative;
  display: flex;
  transform: translateX(-100%);
  animation: apparition 0.3s ease-in-out forwards;
  -webkit-animation: apparition 0.3s ease-in-out forwards;
  gap: 1em;
}
.Button_input_ajout{
  display: flex;
  margin-bottom: 4em;
}
.Button_input_ajout{
  display: flex;
  gap: 1em;
}
@keyframes apparition{
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}


@media screen and (max-width:700px) {

  .apparition{
    display: flex;
    flex-direction: column;
   
  }
  .Button_input_ajout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  
}